.hint {
  width: 200%;
  background-color: rgb(241, 243, 146);
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
  padding: 1rem;
  color: black;
  transform: scale(1.09);
  transition: all 0.7s ease;
}
