.welcomeHeader {
  background: #018c65;
  width: 100%;
}

.welcomeGif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background: #009973;
}

.welcomeText {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  width: 70%;
}

.welcomeButton {
  background-color: #009973;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 8px;
}

.welcomeButton:hover {
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.07);
  transition: all 0.5s ease;
}
