.hpCard {
  width: 26.5%;
  float: left;
  margin: 0 0 2% 5%;
}

.hpCard:hover {
  box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1);
  transition: all 0.5s ease;
}

.homeCard {
  background-color: #009973;
}

.homeCard:hover {
  background-color: #1bb3ce;
}

.hpLink {
  color: #fff;
}
.hpLink:hover {
  color: #000;
}

.searchBar {
  border: 1px solid black;
  padding: 2px 20px;
  text-decoration: none;
  font-size: 14px;
  margin: 10px 50px 50px;
  border-radius: 12px;
  overflow: hidden;
}

.hpTitle {
  margin-left: 50px;
  margin-top: 10px;
}
